<header class="site-header" role="banner">

    <nav>
        <ul class="nav visible-xs">
            <li><a href="#" data-toggle="offcanvas" class="text-center"><img id="navigation-left-arrow" src="/assets/images/left_arrow.svg"></a></li>
            <li><a id="responsive-site-title" class="site-title" href="{{ "/" | relative_url }}">AC</a></li>
        </ul>
    </nav>

    <div class="page-header hidden-xs" id="page-title">
      <a href="{{ "/" | relative_url }}">
          <div class="page-header hidden-xs" id="page-title">
              <div class="potrait">
                  <img src="https://pbs.twimg.com/profile_images/729763291711590400/v4c1uf5d.jpg" style="width:115px;height:115px;border-radius:60px;" />

              </div>
              <div class="site-title">{{ site.title | escape }}</div>
              <div class="tagline">Product | UX | Art</div>
          </div>
      </a>
    </div>
</header>
